<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>jobcard</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>adminlogin.jsp</welcome-file>
		<welcome-file>adminRegister.jsp</welcome-file>
		<welcome-file>adminresetpass.jsp</welcome-file>
		<welcome-file>adminChangePass.jsp</welcome-file>
		<welcome-file>contractorlogin.jsp</welcome-file>
		<welcome-file>contractorRegister.jsp</welcome-file>
		<welcome-file>contractorresetpass.jsp</welcome-file>
		<welcome-file>contractorPassChange.jsp</welcome-file>
		<welcome-file>engineerlogin.jsp</welcome-file>
		<welcome-file>engineerresetpass.jsp</welcome-file>
		<welcome-file>engineerPassChange.jsp</welcome-file>
		<welcome-file>engineerRegister.jsp</welcome-file>
		<welcome-file>homeadmin.jsp</welcome-file>
		<welcome-file>homecontractor.jsp</welcome-file>
		<welcome-file>homeengineer.jsp</welcome-file>
		<welcome-file>homefieldengineer.jsp</welcome-file>
		<welcome-file>fieldengineer.jsp</welcome-file>
		<welcome-file>fieldEngineerLogin.jsp</welcome-file>
		<welcome-file>fieldengineerPassChange.jsp</welcome-file>
		<welcome-file>fieldEngineerPassReset.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>jobcardDetails.jsp</welcome-file>
		<welcome-file>materials.jsp</welcome-file>
		<welcome-file>fieldEngineerDetails.jsp</welcome-file>
		<welcome-file>jobcard.jsp</welcome-file>
		<welcome-file>vat.jsp</welcome-file>
		<welcome-file>proforma.jsp</welcome-file>
		<welcome-file>materialsEdit.jsp</welcome-file>
		<welcome-file>proformaredirect.jsp</welcome-file>
		<welcome-file>menuengineer.jsp</welcome-file>
		<welcome-file>menucontractor.jsp</welcome-file>
		<welcome-file>menufield.jsp</welcome-file>
		<welcome-file>menuadmin.jsp</welcome-file>

	</welcome-file-list>
	<servlet>
		<servlet-name>ContractorLogin</servlet-name>
		<servlet-class>ContractorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContractorLogin</servlet-name>
		<url-pattern>/ContractorLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContractorPassRecovery</servlet-name>
		<servlet-class>ContractorPassRecovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContractorPassRecovery</servlet-name>
		<url-pattern>/ContractorPassRecovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContractorRegister</servlet-name>
		<servlet-class>ContractorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContractorRegister</servlet-name>
		<url-pattern>/ContractorRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContractorPassChange</servlet-name>
		<servlet-class>ContractorPassChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContractorPassChange</servlet-name>
		<url-pattern>/ContractorPassChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EngineerRegister</servlet-name>
		<servlet-class>EngineerRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EngineerRegister</servlet-name>
		<url-pattern>/EngineerRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EngineerLogin</servlet-name>
		<servlet-class>EngineerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EngineerLogin</servlet-name>
		<url-pattern>/EngineerLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminPassrecovery</servlet-name>
		<servlet-class>AdminPassrecovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPassrecovery</servlet-name>
		<url-pattern>/AdminPassrecovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminRegister</servlet-name>
		<servlet-class>AdminRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminRegister</servlet-name>
		<url-pattern>/AdminRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminPassChange</servlet-name>
		<servlet-class>AdminPassChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPassChange</servlet-name>
		<url-pattern>/AdminPassChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MaterialsProcess</servlet-name>
		<servlet-class>MaterialsProcess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaterialsProcess</servlet-name>
		<url-pattern>/MaterialsProcess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FieldRegister</servlet-name>
		<servlet-class>FieldRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FieldRegister</servlet-name>
		<url-pattern>/FieldRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FieldEngineerPassRecovery</servlet-name>
		<servlet-class>FieldEngineerPassRecovery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FieldEngineerPassRecovery</servlet-name>
		<url-pattern>/FieldEngineerPassRecovery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FieldEngineerPassChange</servlet-name>
		<servlet-class>FieldEngineerPassChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FieldEngineerPassChange</servlet-name>
		<url-pattern>/FieldEngineerPassChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FieldEngineerLogin</servlet-name>
		<servlet-class>FieldEngineerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FieldEngineerLogin</servlet-name>
		<url-pattern>/FieldEngineerLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Proforma</servlet-name>
		<servlet-class>Proforma</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Proforma</servlet-name>
		<url-pattern>/Proforma</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Vat</servlet-name>
		<servlet-class>Vat</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vat</servlet-name>
		<url-pattern>/Vat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_AdminJobcard</servlet-name>
		<servlet-class>View_AdminJobcard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_AdminJobcard</servlet-name>
		<url-pattern>/View_AdminJobcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_contractorsJobcards</servlet-name>
		<servlet-class>View_contractorsJobcards</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_contractorsJobcards</servlet-name>
		<url-pattern>/View_contractorsJobcards</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_engineersJobcards</servlet-name>
		<servlet-class>View_engineersJobcards</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_engineersJobcards</servlet-name>
		<url-pattern>/View_engineersJobcards</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_FieldEngineerJobcard</servlet-name>
		<servlet-class>View_FieldEngineerJobcard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_FieldEngineerJobcard</servlet-name>
		<url-pattern>/View_FieldEngineerJobcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewParticularJobcardAdmin</servlet-name>
		<servlet-class>ViewParticularJobcardAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewParticularJobcardAdmin</servlet-name>
		<url-pattern>/ViewParticularJobcardAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewParticularJobcardContractor</servlet-name>
		<servlet-class>ViewParticularJobcardContractor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewParticularJobcardContractor</servlet-name>
		<url-pattern>/ViewParticularJobcardContractor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewParticularJobcardEngineer</servlet-name>
		<servlet-class>ViewParticularJobcardEngineer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewParticularJobcardEngineer</servlet-name>
		<url-pattern>/ViewParticularJobcardEngineer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewParticularJobcardField</servlet-name>
		<servlet-class>ViewParticularJobcardField</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewParticularJobcardField</servlet-name>
		<url-pattern>/ViewParticularJobcardField</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditField_Jobcard</servlet-name>
		<servlet-class>EditField_Jobcard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditField_Jobcard</servlet-name>
		<url-pattern>/EditField_Jobcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteField_Jobcard</servlet-name>
		<servlet-class>DeleteField_Jobcard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteField_Jobcard</servlet-name>
		<url-pattern>/DeleteField_Jobcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Approve_Contractor</servlet-name>
		<servlet-class>Approve_Contractor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Approve_Contractor</servlet-name>
		<url-pattern>/Approve_Contractor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewFieldEngineerDetails</servlet-name>
		<servlet-class>ViewFieldEngineerDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewFieldEngineerDetails</servlet-name>
		<url-pattern>/ViewFieldEngineerDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Approve_Admin</servlet-name>
		<servlet-class>Approve_Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Approve_Admin</servlet-name>
		<url-pattern>/Approve_Admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Approve_Engineer</servlet-name>
		<servlet-class>Approve_Engineer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Approve_Engineer</servlet-name>
		<url-pattern>/Approve_Engineer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_EngineersAdmin</servlet-name>
		<servlet-class>View_EngineersAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_EngineersAdmin</servlet-name>
		<url-pattern>/View_EngineersAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FieldEdit</servlet-name>
		<servlet-class>FieldEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FieldEdit</servlet-name>
		<url-pattern>/FieldEdit</url-pattern>
	</servlet-mapping>
</web-app>